<div class="logout" (click)="logout()">
  <button>Logout</button>
</div>
<div class="map-container">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="panel-head">Location Details:</div>
      <div *ngFor="let location of locationsArray">
         <p>Country: {{location.standard.countryname}}</p>
         <p>Lat: {{location.latt}}</p>
         <p>Lng: {{location.longt}}</p>
         <hr>
      </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon class="list-icon">view_headline</mat-icon>
      </button>
      <div class="map-frame">
        <div *ngIf="mapOptions" style="height: 100%;"
        leaflet 
        [leafletOptions]= mapOptions
        [leafletLayers]="layers">
        </div>
      </div>
    </div>
  
  </mat-drawer-container>
  
</div>