.logout {
  display: flex;
  justify-content: flex-end;
  margin: 2px 30px;

  button {
    border: none;
    background-color: #a91515;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
}
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
}

::ng-deep .custom {
  transition-timing-function: linear;
  transition-property: transform;
}

.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  justify-content: center;
  button {
    background: none;
    border: none;
    height: 60px;
    .list-icon {
      color: white;
    }
  }
}

.example-sidenav {
  padding: 20px;
  .panel-head {
    font-size: 16px;
    margin-bottom: 22px;
    margin-right: 12px;
    color: wheat;
  }
}

::ng-deep mat-drawer {
  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: wheat; 
  border-radius: 10px;
}
}